// $primary: #1eacc7;

@import "variables";
@import "~bootstrap/scss/bootstrap";

// OverlayScrollbars
@import "~overlayscrollbars/css/OverlayScrollbars.css";

@import "~admin-lte/dist/css/adminlte.css";

@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// DataTables
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
@import "~datatables.net-buttons-bs4/css/buttons.bootstrap4.css";

// .mx-calendar {
//   width: 375px !important;
// }
// .mx-input {
//     height: 38px;
// }
// .mx-icon-calendar {
//     right: 17px !important;
// }
// @import '~vue2-datepicker/scss/index.scss';

@import './datepicker.scss';

// .fa:hover,
// .fas:hover,
// .far:hover {
//     color: #504e4e;
// }
.grab {
    cursor: grab;
}
.laravel-box-shadow {
    box-shadow: 0 20px 30px -16px rgba(9, 9, 16, 0.2);
}

.invalid-feedback {
    display: block;
    font-size: 90%;
}

.width-100 {
    width: 100% !important;
}

// .btn:hover {
//     transition: all 0.2s ease-in-out;
//     transform: scale(1.05);
// }


.btn-primary {
    background-color:  $primary !important;
    border-color:  $primary !important;
}

.btn-primary:hover {
    background-color: #16d2f7 !important;
    border-color: #06c4ea !important;
    font-weight: 600 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
    cursor: not-allowed;
}
.btn-secondary {
    color: #fff;
    background-color: #5865f5;
    border-color: #5865f5;
}
  
.btn-secondary:hover {
    color: #fff;
    background-color: #3444f3;
    border-color: #2839f2;
    font-weight: 600;
}
// .btn-primary {
//     color: #fff;
//     background-color: #5856d6;
//     border-color: #5856d6;
// }

// .btn-primary:hover {
//   color: #fff;
//   background-color: #5856d6;
//   border-color: #5856d6;
// }

// .btn-primary:focus,
// .btn-primary.focus {
//   color: #fff;
//   background-color: #5856d6;
//   border-color: #5856d6;
//   box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
// }


// Pagination
.pagination > .page-item > .page-link {
    color: $black;
    cursor: pointer;
    background-color: $white;
    border: 1px solid $gray-300;
}
.pagination > .page-item > .page-link:hover {
    color: $primary;
    background-color: $primary-light;
    border: 1px solid $primary-light;
}
.pagination > .page-item.disabled > .page-link {
    color: $black;
    pointer-events: none;
    cursor: auto;
    background-color: $white;
    border: 1px solid $gray-300;
}
.pagination > .page-item.active > .page-link {
    color: $primary;
    pointer-events: none;
    cursor: auto;
    background-color: $primary-light;
    border-color: $primary-light;
}