.container-fluid.main-menu {
    padding: 25px 80px;
}

::selection {
    background-color: #1eacc7;
    color: #fff;
}

::-moz-selection {
    background-color: #1eacc7;
    color: #fff;
}

body {
    font-family: "Hind", sans-serif;
}

p.mt-80.mx-auto.footer-text.col-lg-12 {
    color: #777777;
}

.single-footer-widget ul li a:hover {
    color: white;
}

.footer-text a,
.footer-text i {
    color: #17a2b8;
}

.section-gap {
    padding: 50px 25px;
}

/* Start Navbar Section  */
.nav-menu a {
    font-weight: bold;
    font-size: 14px;
    opacity: 0.7;
    text-decoration: none;
    padding-right: 15px;
    padding-bottom: 5px;
}

.nav-link {
    font-weight: bold;
    opacity: 0.7;
    text-decoration: none;
    padding-right: 15px;
}

.nav-link:hover {
    color: #1eacc7;
    opacity: 1;
    text-decoration: none;
    border-bottom: 2px solid #1eacc7;
}

.nav-link.router-link-exact-active.router-link-active {
    color: white;
    opacity: 1;
    text-decoration: none;
    /* border-bottom: 2px solid #1eacc7; */
}
/* End Navbar Section  */

a:hover {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    transform: scale(1.03);
}

.primary-btn {
    background-color: #3acae6;
    border-color: #3acae6;
    line-height: 40px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    color: #fff;
    display: inline-block;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.primary-btn:hover {
    background-color: #06c4ea;
    color: white;
    border: 1px solid #05badd;
    transition: all 0.2s ease-in-out;
    transform: scale(1.05);
}

.form-select .nice-select .list .option.selected {
    color: #1eacc7;
    background: transparent;
}

.form-select .nice-select .list .option:hover {
    color: #1eacc7;
    background: transparent;
}

/* Icon */
.contact-page-area .address-wrap .single-contact-address .lnr {
    color: #1eacc7;
}
/* Form */
.contact-page-area .form-area input,
.contact-page-area .form-area textarea {
    border-radius: 0.4rem;
    font-size: 0.9rem;
}

/* Booking Form v-select */
.style-chooser.vs--single.vs--searchable,
.style-chooser .vs__search::placeholder,
.style-chooser .vs__dropdown-toggle,
.style-chooser .vs__dropdown-menu {
    border: none;
    color: #394066;
    text-transform: capitalize;
    /* border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
    background-color: white !important;
}

/* Booking form bigger text problem */
.vs__search,
.vs__search:focus {
    /* position: absolute; */
    margin: 0px !important;
}
.selected.d-center {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* max-width: 180px; */
    position: absolute;
    z-index: 2 !important;
    padding-bottom: 2px;
}
.vs__selected-options {
    overflow: hidden;
}
.vs__selected {
    z-index: 2 !important;
}
.vs__dropdown-toggle {
    padding: 0 !important;
}
.vs__actions {
    padding: 2px 3px 0 3px !important;
}
.header-right .form-control {
    padding: 0.575rem 0.575rem 10px !important;
}
@media only screen and (max-width: 450px) {
    .selected.d-center {
        max-width: 75px;
    }
}
.mx-input {
    font-size: 1em !important;
    box-shadow: none;
    height: 37px;
}
@media only screen and (max-width: 385px) {
    .toggle-wrapper {
        padding-left: 0px !important;
    }
}
body {
    padding: 0 60px;
}
nav {
    background-color: black !important;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
#app {
    box-shadow: 0px 2px 10px #999999a3;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }
    nav {
        border-radius: 0;
    }
    #app {
        border-radius: 0;
    }
}

@media only screen and (max-width: 575px) {
    .contact-wrapper {
        margin-left: 8.3333333333%;
    }
}

.profile-image-button {
    width: 70%;
}

.box-body.box-profile.d-flex-column {
    background-color: #f3f3f3eb;
    box-shadow: 0px 2px 10px #999999a3;
    background-color: #fdfdfd96;
    border-radius: 5px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.edit-profile {
    background-color: #f3f3f3eb;
    box-shadow: 0px 2px 10px #999999a3;
    background-color: #fdfdfd96;
    border-radius: 5px;
    padding: 30px 50px;
}

/*
 * The CSS shown here will not be introduced in the Quick start guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
    box-sizing: border-box;

    /* height: 40px; */

    padding: 8px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    /* box-shadow: 0 1px 3px 0 #e6ebf1; */
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}
#card-errors {
    color: #d62400;
    margin-top: 5px;
    font-weight: 600;
}

button:focus{
    outline: none;
}

.content-wrapper {
    background: #f8fafc;
}