
.user-panel-image {
    height: 40px !important;
    width: 40px !important;
    object-fit: cover !important;
}
.brand-link .brand-image {
    margin-left: 0 !important;
}
.user-panel .image {
    display: inline-block;
    padding-left: 0.5rem !important;
}
